@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";


.third-rectangle {
    position: absolute;
    top: 2068px;
    width: 1440px;
    height: 319px;
    background: $backgr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-rectangle__title {
    width: 257px;
    height: 62px;
    @include font(Niramit, 500, 48px, $white-color);
    line-height: 62px;
}

.third-rectangle__title p{
    margin: 0;
}