@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";


.socialNetworkWraper__twiter {
    position: absolute;
    left: 150px;
    top: 93px;
    @include img(url('../img/твит.png'),24.63px, 20px);
}

.socialNetworkWraper__insta {
    position: absolute;
    left: 215px;
    top: 93px;
    @include img(url('../img/инст.png'),20px, 20px);
}

.socialNetworkWraper__facebook {
    position: absolute;
    left: 275px;
    top: 93px;
    @include img(url('../img/фэйс.png'),9.9px, 20px);
}