.socialNetworkWraper__twiter {
    position: absolute;
    width: 24.63px;
    height: 20px;
    left: 150px;
    top: 93px;
    background-image: url('твит.png');
}

.socialNetworkWraper__insta {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 215px;
    top: 93px;
    background-image: url('инст.png');
}

.socialNetworkWraper__facebook {
    position: absolute;
    width: 9.9px;
    height: 20px;
    left: 275px;
    top: 93px;
    background-image: url('фэйс.png');
}