@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.rightBlock {
    position: absolute;
    width: 720px;
    height: 1024px;
    left: 720px;
    top: 0px;
    background: $backgr;
}

.rightBlock__title {
    position: absolute;
    width: 589px;
    margin-left: -19px;

    @include font(Franklin Gothic Book, normal, 50px, $white-color);
    line-height: 57px;
    text-align: right;
    z-index: 2;
}
