@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.leftBlock {
    position: relative;
    width: 720px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: $white-color;
}

.leftBlock__img {
    position: absolute;
    left: 610px;
    top: 302px;
    @include img(url('../img/man.png'),830px, 722px);
    z-index: 2;
}

