.wwa {
    position: relative;
    top: 277px;
    left: 798px;
    width: 492px;
    height: 506px;
}

.wwa h2 {
    font-family: Franklin Gothic Book;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: 30px;
    
}

.wwa p{
    font-family: Franklin Gothic Book;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FFFFFF;
}