.contactUsWraper{
    height: 112px;
    width: 250px;
    position: absolute;
    left: 900px;
    top:10px
}

.contactUsWraper__text{
    font-family: Niramit;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}