.logo {
    position: absolute;
    left: 150px;
    top: 30px;
    display: flex;
    flex-direction: row;
    width: 200px;
}

.logo__img {
    background-image: url('logo1.png');
    width: 67px;
    height: 64px;
}

.logo__header-text {
    font-family: Anklepants;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.logo__text {
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 0;
}

.logo hr {
    height: 64px;
}