.cards{
    display: flex;
    justify-content: space-between;
    width: 695px;
    margin-top: 30px;
}

.card-industries__img-home {
    background-image: url('дом1 1.png');
    width: 97px;
    height: 92px;
}

.card-industries__img-hart {
    background-image: url('сердце 1.png');
    width: 97px;
    height: 92px;
}

.card-industries__img-men {
    background-image: url('чел 1.png');
    width: 97px;
    height: 92px;
}

.card-industries__img-pil {
    background-image: url('тэблет 1.png');
    width: 97px;
    height: 92px;
}

.card-industries__text {
    font-family: Niramit;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}