@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.form-wraper {
    position: absolute;
    width: 652px;
    height: 450px;
    left: 394px;
    top: 409px;
    background: rgba(245, 245, 245, 0.6);
    border-radius: 20px;

    display: flex;
    flex-direction: row;
}

.form-wraper__people-pictures {
    @include img(url('../img/Call center-amico 1.png'), 386px, 372px);
}